html, body
{
    width: 100%;
    height: 100%;
}
body {
    height: 100vh;
    margin:0;
    padding:0;
    background-color:rgb(255, 209, 63);
}

.leftBar {
    background-color:rgb(195, 0, 47);
    width: 250px;
    height: 210%;
    position:absolute;
    background-attachment: fixed;
    
}

.profile {
    width:250px;
    height:200px;
    background-color:lightgray;
    margin-top:-80%;
}

.profile img {
    position:relative;
    margin-left:30%;
    margin-top: 10%;
    
    
}

.profile p {
    text-align:center;
    line-height: 10px;
}

.list button {
    margin-left:9%;
    margin-top: 7%;
    background-color:rgb(255, 209, 63);
    width:200px;
    height:50px;
}

.topPage {
    background-color:rgb(195, 0, 47);
    width:100%;
    height:200px;
    z-index:-2;
}

.topPage img{
    margin-left:52%;
    margin-top:1%;
}

.topPage p {
    font-size:18px;
    z-index:2px;
    text-align:center;
    padding-left:18%;
    padding-top:10px;
    margin-top:-5px;
    color:white;
    font-family: cursive;
}
.R{
    
    margin-top: 30px ;
    text-align:center;
    margin-right: 20px;
    line-height:40px;
    margin-left:20%;
    position:relative;
}

#day {
    margin-left:80%;
}

#day_tag {
    margin-left:80%;
}

.L{
    margin-top: 30px ;
    text-align:left;
    margin-left: 10px;
}

.R input {
    border-radius:2px;
    border:none;
    border-bottom:2px solid black;
    background-color:rgb(212, 209, 200) ;
}

#add_btn {
    background-color:rgb(75, 196, 75);
    border:none;
}

#add_btn2 {
    background-color:rgb(75, 196, 75);
    border:none;
}

#remove_btn {
    border:none;
    background-color:rgb(214, 80, 80);
}

#remove_btn2 {
    border:none;
    background-color:rgb(214, 80, 80);

}


#table {
    margin-left:12%;
    border-collapse: collapse;
    
    
}
#table2 {
    margin-left:11%;
    border-collapse: collapse;
    
}

th,td {
    border:2px solid black;
}






